{% extends "limeade_mysql/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Add MySQL Database" %}</h1>
    <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
        <fieldset>
            <legend>{% trans "Add MySQL Database" %}</legend>
            {% include "forms/display_form.html" %}
            {% trans "Save" as submit_str %}
            {% with submit_text=submit_str button_class="btn btn-success" %}
                {% include "forms/display_form_submit.html" %}
            {% endwith %}
        </fieldset>
    </form>
{% endblock %}