{% extends "limeade_cloud/base.html" %}

{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
        INCLUDE_URI = '{{ STATIC_URL|default:'/static/' }}lib/js/novnc/include/';
    </script>
    <script
        type="text/javascript"
        src="{{ STATIC_URL|default:'/static/' }}lib/js/novnc/include/vnc.js">
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans "VNC" %}</h1>
    <div id="noVNC_screen">
        <div id="noVNC_status_bar" class="noVNC_status_bar">
            <table>
                <tr>
                    <td>
                        <div id="noVNC_status">{% trans "Loading" %}</div>
                    </td>
                    <td>
                        <div id="noVNC_buttons">
                            <input type="button" class="btn btn-danger" value="{% trans 'Send Ctrl+Alt+Del' %}" id="sendCtrlAltDelButton" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <canvas id="noVNC_canvas" width="640px" height="20px">
            {% trans "Canvas not supported." %}
        </canvas>
    </div>
    <script type="text/javascript">
        "use strict";
        
        var rfb;
        
        function passwordRequired(rfb)
        {
            var msg;
            var msg;
            msg = '<form onsubmit="return setPassword();"';
            msg += '  style="margin-bottom: 0px">';
            msg += 'Password Required: ';
            msg += '<input type=password size=10 id="password_input" class="noVNC_status">';
            msg += '<\/form>';
            $D('noVNC_status_bar').setAttribute("class", "noVNC_status_warn");
            $D('noVNC_status').innerHTML = msg;
        }
        
        function setPassword()
        {
            rfb.sendPassword($D('password_input').value);
            return false;
        }
        
        function sendCtrlAltDel()
        {
            rfb.sendCtrlAltDel();
            return false;
        }
        
        function updateState(rfb, state, oldstate, msg)
        {
            var s, sb, cad, level;
            s = $D('noVNC_status');
            sb = $D('noVNC_status_bar');
            cad = $D('sendCtrlAltDelButton');
            switch (state) {
                case 'failed':       level = "error";  break;
                case 'fatal':        level = "error";  break;
                case 'normal':       level = "normal"; break;
                case 'disconnected': level = "normal"; break;
                case 'loaded':       level = "normal"; break;
                default:             level = "warn";   break;
            }
            
            if (state === "normal") {
                cad.disabled = false;
            } else {
                cad.disabled = true;
            }
            
            if (typeof(msg) !== 'undefined') {
                sb.setAttribute("class", "noVNC_status_" + level);
                s.innerHTML = msg;
            }
        }
        
        window.onload = function()
        {
            var host, port, password, path, token;
            
            $D('sendCtrlAltDelButton').style.display = "inline";
            $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;
            
            document.title = unescape(WebUtil.getQueryVar('title', 'noVNC'));
            
            host = '{{ host }}';
            port = '6080';
            // By default, use the host and port of server that served this file
            //host = WebUtil.getQueryVar('host', window.location.hostname);
            //port = WebUtil.getQueryVar('port', window.location.port);
            
            // If a token variable is passed in, set the parameter in a cookie.
            // This is used by nova-novncproxy.
            token = WebUtil.getQueryVar('token', null);
            if (token) {
                WebUtil.createCookie('token', token, 1)
            }
            
            password = WebUtil.getQueryVar('password', '');
            path = WebUtil.getQueryVar('path', 'websockify');
            if ((!host) || (!port)) {
                updateState('failed',
                    "Must specify host and port");
                return;
            }
            
            console.log(host);
            console.log(port);
            console.log(password);
            console.log(path);
            
            rfb = new RFB({'target':       $D('noVNC_canvas'),
                           'encrypt':      WebUtil.getQueryVar('encrypt',
                                    (window.location.protocol === "https:")),
                           'true_color':   WebUtil.getQueryVar('true_color', true),
                           'local_cursor': WebUtil.getQueryVar('cursor', true),
                           'shared':       WebUtil.getQueryVar('shared', true),
                           'view_only':    WebUtil.getQueryVar('view_only', false),
                           'updateState':  updateState,
                           'onPasswordRequired':  passwordRequired});
            rfb.connect(host, port, password, path);
        };
    
    </script>
{% endblock %}
