{% extends "base.html" %}

{% load i18n %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>
    <form method="post" action"{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
        <fieldset>
            <legend>{% trans "Login" %}</legend>
            {% include "forms/display_form.html" %}
            {% trans "Login" as submit_str %}
            {% with submit_text=submit_str button_class="btn btn-success" %}
                {% include "forms/display_form_submit.html" %}
            {% endwith %}
        </fieldset>
    </form>
{% endblock %}