{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
	<h1>{% trans 'Password change' %}</h1>
	<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

	<form method="post" action"{% url django.contrib.auth.views.password_change %}">
		{% csrf_token %}
		{% include "forms/display_form.html" %}
		{% trans "Password change" as submit_str %}
		{% with submit_text=submit_str button_class="btn btn-success" %}
			{% include "forms/display_form_submit.html" %}
		{% endwith %}
	</form>

{% endblock %}
