{% extends "base.html" %}

{% block content %}
<h1>FTP Accounts</h1>

<p class="action_box">
<span class="lime action_link">+</span><a href="{% url limeade_ftp_account_add %}">Add a new FTP Account</a>
</p>
{% if object_list %}
<table>
<tr><th>Account</th><th>VHost</th><th>&nbsp;</th></tr>
{% for account in object_list %}
        <tr>
        <td><a href="{% url limeade_ftp_account_edit account.pk %}">{{ account.name }}</a></td>
		<td>{{ account.vhost }}</td>
		<td><a href="{% url limeade_ftp_account_delete account.pk %}" class="action_delete">Delete</a></td>
        </tr>
{% endfor %}
</table>
{% else %}
<p>You don't have any Accounts yet.</p>
{% endif %}
<br />
<p>
	FTP Server: <em>ftp.local</em><br />
	TLS highly recommended.
{% endblock %}