{% extends "limeade_web/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "HTTP Redirects" %}</h1>
    <p class="action_box">
        <span class="lime action_link">+</span><a href="{% url limeade_web_redirect_add %}">{% trans "Add a new HTTP Redirect" %}</a>
    </p>
    {% if object_list %}
        <table>
            <tr>
                <th>Redirect</th>
                <th>To</th>
                <th>&nbsp;</th>
            </tr>
            {% for redirect in object_list %}
                <tr>
                    <td><a href="{% url limeade_web_redirect_edit redirect.pk %}">{{ redirect.name }}.{{ redirect.domain }}</a></td>
                    <td>{{ redirect.to }}</td>
                    <td><a href="{% url limeade_web_redirect_delete redirect.pk %}" class="action_delete">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "You don't have any Redirects yet." %}</p>
    {% endif %}
{% endblock %}